body{
	font-family: 'Poppins', sans-serif;
}
.no-padd-l{
  padding-left:0px !important;
}
.no-padd-r{
  padding-right:0px !important;
}
.no-padd{
  padding-left:0px !important;
  padding-right:0px !important;
} 
.navbar{
	background-color:#9c27b0;
	border-radius: 0px !important;
	margin-bottom:0px !important;
}
.navbar-nav li a{
	color:#fff;
}
.navbar-brand {
    
    padding: 0px 15px !important;
}
/* tabbed menu styles */
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
#customer{
	display:block;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
	font-size:16px;
	font-weight:bold;
    padding: 12px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* vertical tabbedmenu */
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}

.list-group-item{
	padding: 5px 5px;
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  padding:15px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #9c27b0;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #9c27b0;
  background-image: #9c27b0;
  color: #ffffff;
  border-color:#9c27b0;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #9c27b0;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.well h3{
	margin:0px !important;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	font-weight:bold;
}
.form-control{
	border-radius:0px;
}
.well{
	border-radius:0px;
	background-color:#cccccc;
	margin-bottom: 15px;
}
/* button styles */
.btn{
	border-radius:0px;
}
.btn-redeen{
		background-color:#9c27b0;
		color:#fff;
		padding: 3px 15px;
}
.btn-primary{
	background-color:#f2a11c;
	border-color:#f2a11c;
}
.btn-primary:hover {
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
}
.btn-redeen:hover {
    color: #fff;
    background-color: #f2a11c;
    border-color: #f2a11c;
}
.btn-approve{
	background-color:green;
	color:#fff;
	padding: 3px 15px;
	width:100px;
	margin-right:10px;
}
.btn-reject{
	background-color:red;
	color:#fff;
	padding: 3px 15px;
	margin-left:10px;
	width:100px;
}
